/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}
